In [256]:
import pandas as pd
import numpy as np
df = pd.read_csv("/home/swcyen/DataAna/data/patient_heart_rate.csv", on_bad_lines='skip')
df.head()

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

missing header problem

In [257]:
columns_names = ['id','name','age','weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv("/home/swcyen/DataAna/data/patient_heart_rate.csv",on_bad_lines='skip',names = columns_names)
print(df)

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs    78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN    65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN     -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs     -     -     -    68    75    72

split name into firstname and lastname

In [258]:
df[['Firstname','Lastname']] = df['name'].str.split(expand=True)
df = df.drop('name', axis= 1)
print(df)

      id   age      weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

convert pound to kg

In [259]:
weight = df['weight']

for i in range(0,len(weight)):
    x = str(weight[i])
    if 'lbs' in x[-3:]:
        x = x[:-3:]
        float_x = float(x)
        y = int(float_x/2.2)
        y = str(y) + 'kgs'
        weight[i] = y

print(df)

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

/tmp/ipykernel_12565/3110440257.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

remove NaN

In [260]:
df.dropna(how='all',inplace= True)
print(df)

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

remove dup

In [261]:
df = df.drop_duplicates(subset=['Firstname','Lastname','age','weight'])
print(df)

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

non-ASCII

In [262]:
df['Firstname'].replace({r'[^\x00-\x7F]+':''}, inplace=True, regex=True)
df['Lastname'].replace({r'[^\x00-\x7F]+':''},  inplace=True, regex=True)
print(df)

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

remove wrong column

In [263]:
df = df.dropna(subset=['age','weight'],how='all')
print(df)

      id   age weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

add column to df

In [264]:
df = pd.melt(df,id_vars=['id','age','weight','Firstname', 'Lastname'],value_name="Pulserate",var_name='sex_and_time').sort_values(['id','age','weight','Firstname', 'Lastname'])
tmp_df = df['sex_and_time'].str.extract("(\D)(\d+)(\d{2})",expand=True)
print(tmp_df)
tmp_df.columns = ['sex', 'hours_lower','hours_upper']

tmp_df['time'] = tmp_df['hours_lower'] + '-' + tmp_df['hours_upper']

df = pd.concat([df, tmp_df],axis=1)

df = df.drop(['sex_and_time','hours_lower','hours_upper'], axis=1)
df = df.replace('-',np.nan)
df = df.dropna()
df.to_csv('output.csv',index=False)
print(df)

    0   1   2
0   m  00  06
12  m  06  12
24  m  12  18
36  f  00  06
48  f  06  12
.. ..  ..  ..
23  m  06  12
35  m  12  18
47  f  00  06
59  f  06  12
71  f  12  18

[72 rows x 3 columns]
      id   age weight Firstname Lastname Pulserate sex   time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
37   2.0  34.0  70kgs    Donald     Duck        85   f  00-06
49   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
61   2.0  34.0  70kgs    Donald     Duck        76   f  12-18
40   5.0  54.0  90kgs      Pink  Panther        69   f  00-06
64   5.0  54.0  90kgs      Pink  Panther        75   f  12-18
41   6.0  52.0  85kgs      Huey   McDuck        68   f  00-06
53   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12
65   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18
42   7.0  19.0  56kgs     Dewey   McDuck        71   f  00-06
54   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12
66   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06
19   8.0  32.0  78kgs      Scpy      Doo        76   m  06-12
31   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18
44  10.0  12.0  45kgs     Louie   McDuck        92   f  00-06
56  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12
68  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18

add column

In [265]:
df['age'].fillna(df['age'].mean(),inplace=True)
print(df)

      id   age weight Firstname Lastname Pulserate sex   time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
37   2.0  34.0  70kgs    Donald     Duck        85   f  00-06
49   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
61   2.0  34.0  70kgs    Donald     Duck        76   f  12-18
40   5.0  54.0  90kgs      Pink  Panther        69   f  00-06
64   5.0  54.0  90kgs      Pink  Panther        75   f  12-18
41   6.0  52.0  85kgs      Huey   McDuck        68   f  00-06
53   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12
65   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18
42   7.0  19.0  56kgs     Dewey   McDuck        71   f  00-06
54   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12
66   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06
19   8.0  32.0  78kgs      Scpy      Doo        76   m  06-12
31   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18
44  10.0  12.0  45kgs     Louie   McDuck        92   f  00-06
56  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12
68  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18